{% extends "layout.html" %}

{% block title %}
    <title>Ideias - Casa Criativa</title>
{% endblock %}

{% block content %}
    <header>

        {% include "logo.html" %}
        <nav>
            <li><a href="/">Início</a></li>
            <li><a href="/ideias/minhas">Minhas ideias</a></li>
            <li><a href="#" onclick="onOff()" class="button">Nova Ideia</a></li>
        </nav>
    </header>
    <section id="title">
        {% if author is not null %}
            <p>Olá, {{ author }}, seja bem-vinde!</p>
        {% endif %}
        <h1><a href="/ideias">Ideias</a></h1>
    </section>
    <main>
        <section id="ideas">
            {% include "all_ideas.html" %}
        </section>

    </main>

    <footer id="footer"> com ❤️ <a href="https://www.linkedin.com/in/ellen-gon%C3%A7alves-29546820a/"
            target="_blank">Ellen</a> em curso da Rocketseat</footer>
{% endblock %}