{% extends "layout.html" %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <div id="modal">
        <div class="content">
            <h1>Login</h1>
            <form action="submit" method="POST"> {% csrf_token %}
                <label>Usuario:</label>
                <input type="text" , name="username">
                <label>Senha:</label>
                <input type="password", name="password">
                <button type="submit"> Entrar</button>
                <a href="/" class="button">Voltar</a>
            </form>

            {% for message in messages %}
                <strong>{{ message }}</strong>
            {% endfor %}
        </div>
    </div>
{% endblock %}