{% extends "layout.html" %}

{% block content %}
    {% include "header_ideas.html" %}
    <main>
        <p>em exibição</p>
        <h1>{{idea.title}}</h1>
        <img src="{{idea.image}}" alt="Imagem de {{idea.title}}">
        <h3>{{idea.title}}</h3>
        <div class="description">
            <p>{{idea.description}}</p>
        </div>

        <a href="/editar/?id={{idea.id}}" onclick="onOff()" class="button">Editar</a>
        <a href="/remover/{{idea.id}}" onclick="onOff()" class="button">Remover</a>
    </main>
{% endblock %}